@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

@font-face {
  font-family: fredoka;
  src: url(../fonts/FredokaOne-Regular.ttf);
}

@font-face {
  font-family: Cuprum;
  src: url(../fonts/Cuprum-Regular.ttf);
}

#icon{
  -webkit-app-region: no-drag;

}
.no-drag{
  -webkit-app-region: no-drag;
}

.drag{
  -webkit-app-region: drag;
  cursor: move;
}

html{
    height: 350px;
    width:300px;
}
body {
  margin: 0px;
  background-color: white;
  font-size: 16px;
  color: #404040;
  font-family: fredoka ,Montserrat, sans-serif;
  /* background-image: linear-gradient(to bottom right, #ff9eaa 0% 65%, #e860ff 95% 100%); */
  background-attachment: fixed;
  margin: none;
  /* padding: 2rem 0; */
  display: grid;
  place-items: center;
  /* box-sizing: border-box; */
  
}
.card {
  background: url(../images/background.svg) fixed; 
   background-position: right;

  background-color: #fff;
  min-width:300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* border-radius: 2rem; */
  /* box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.5); */
}
.card .banner {

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 5rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  
}
.card .banner svg {

 
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.3);
  border-radius: 50%;
  transform: translateY(50%);
  transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.card .banner svg:hover {
  transform: translateY(50%) scale(1.3);
  cursor: none;
}
.card .menu {
  width: 100%;
  height: 5rem;
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
 
}
.card .menu .opener {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  border-radius: 50%;
  transition: background-color 100ms ease-in-out;
}
.card .menu .opener:hover {
  background-color: #f2f2f2;
}
.card .menu .opener span {
  background-color: #404040;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: 0;
  left: calc(50% - 0.2rem);
  border-radius: 50%;
}
.card .menu .opener span:nth-child(1) {
  top: 0.45rem;
}
.card .menu .opener span:nth-child(2) {
  top: 1.05rem;
}
.card .menu .opener span:nth-child(3) {
  top: 1.65rem;
}
.card h2.name {
  font-family: 'fredoka';
  text-align: center;
  padding: 0 1rem 0.3rem;
  margin: 0;
}
.card .title {
  font-family: "Cuprum";
  color: #646464;
  font-size: 0.85rem;
  text-align: center;
  padding: 0 1rem 0.5rem;
}

#count{
  font-family: "Cuprum";
  font-size: medium;
}
.card .files-count {
    color: #a0a0a0;
    font-size: 0.85rem;
    text-align: center;
    /* padding: 0 -0.5rem -0.5rem; */
  }
.card .actions {
  padding: 0 2rem 1.2rem;
  display: flex;
  flex-direction: column;
  order: 99;
}
.card .actions .files-info {
  padding: 0 0 1rem;
  display: flex;
}
.card .actions .files-info h5 {
  text-align: center;
  width: 50%;
  margin: 0;
  box-sizing: border-box;
}
.card .actions .files-info h2 a {
  text-decoration: none;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  transition: background-color 100ms ease-in-out;
}
.card .actions .files-info h2 a span {
  color: #1c9eff;
  font-weight: bold;
  transform-origin: bottom;
  transform: scaleY(1.3);
  transition: color 100ms ease-in-out;
}
.card .actions .files-info h2 a small {
  color: #afafaf;
  font-size: 0.85rem;
  font-weight: normal;
}
.card .actions .files-info h2 a:hover {
  background-color: #f2f2f2;
}
.card .actions .files-info h2 a:hover span {
  color: #007ad6;
}
.card .actions .go-btn button {
  color: inherit;
  font: inherit;
  font-weight: normal;
  background-color: #ffd01a;
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  box-sizing: border-box;
  border-radius: 1.5rem/50%;
  transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.card .actions .go-btn button:hover {
  background-color: #efb10a;
  transform: scale(1.1);
}
.card .actions .go-btn button:active {
  background-color: #e8a200;
  transform: scale(1);
}
.card .desc {
  text-align: justify;
  padding: 0 2rem 2.5rem;
  order: 100;
}

